<div
  class="
    relative
    flex flex-col
    min-w-0
    break-words
    bg-white
    w-full
    mb-6
    shadow-xl
    rounded-lg
    mt-16
  "
>
  <div class="px-6">
    <div class="flex flex-wrap">
      <div class="w-full">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a
              class="
                text-xs
                font-bold
                uppercase
                px-5
                py-3
                shadow-lg
                rounded
                block
                leading-normal
              "
              (click)="toggleTabs(1)"
              [ngClass]="{
                'text-lightBlue-600 bg-white': openTab !== 1,
                'text-white bg-lightBlue-600': openTab === 1
              }"
            >
              <i class="fas fa-ship text-base mr-1"></i> Grupos
            </a>
          </li>
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a
              class="
                text-xs
                font-bold
                uppercase
                px-5
                py-3
                shadow-lg
                rounded
                block
                leading-normal
              "
              (click)="toggleTabs(2)"
              [ngClass]="{
                'text-lightBlue-600 bg-white': openTab !== 2,
                'text-white bg-lightBlue-600': openTab === 2
              }"
            >
              <i class="fas fa-file-contract text-base mr-1"></i> Estudiantes
            </a>
          </li>
          
        </ul>
        <div
          class="
            relative
            flex flex-col
            min-w-0
            break-words
            bg-white
            w-full
            mb-6
            shadow-lg
            rounded
          "
        >
          <div class="px-4 py-5 flex-auto">
            <div class="tab-content tab-space">
              <div [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }">
                <div class="flex flex-wrap">
                  <div class="w-full lg:w-6/12 px-4">
                    <div
                      class="
                        relative
                        flex flex-col
                        min-w-0
                        break-words
                        w-full
                        mb-6
                        shadow-lg
                        rounded-lg
                        bg-blueGray-100
                        border-0
                      "
                    >
                      <div class="rounded-t bg-white mb-0 px-6 py-6">
                        <div class="text-center flex justify-between">
                          <h6 class="text-blueGray-700 text-xl font-bold">
                            {{
                              toUpdate ? "Actualizar" : "Adicionar"
                            }}
                            Grupo
                          </h6>
                          <button
                            (click)="
                            toUpdateGroup ? groupUpdated() : createGroup()
                            "
                            class="
                              bg-emerald-500
                              text-white
                              active:bg-emerald-500
                              font-bold
                              uppercase
                              text-xs
                              px-4
                              py-2
                              rounded
                              shadow
                              hover:shadow-md
                              outline-none
                              focus:outline-none
                              mr-1
                              ease-linear
                              transition-all
                              duration-150
                            "
                            type="button"
                          >
                            {{ toUpdateGroup ? "Actualizar" : "Adicionar" }}
                          </button>
                        </div>
                      </div>
                      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                        <form>
                          <h6
                            class="
                              text-blueGray-400 text-sm
                              mt-3
                              mb-6
                              font-bold
                              uppercase
                            "
                          >
                            Información
                          </h6>
                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <label
                                  class="
                                    block
                                    uppercase
                                    text-blueGray-600 text-xs
                                    font-bold
                                    mb-2
                                  "
                                  htmlFor="grid-password"
                                >
                                  Nombre del Grupo
                                </label>
                                <input
                                  name="name"
                                  type="text"
                                  class="
                                    border-0
                                    px-3
                                    py-3
                                    placeholder-blueGray-300
                                    text-blueGray-600
                                    bg-white
                                    rounded
                                    text-sm
                                    shadow
                                    focus:outline-none focus:ring
                                    w-full
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  value=""
                                  [(ngModel)] = "group.name"
                                />
                              </div>
                            </div>
                          </div>
                          <hr class="mt-6 border-b-1 border-blueGray-300" />
                        </form>
                      </div>
                    </div>
                  </div>

                  <!--List of providers-->
                  <div class="w-full lg:w-6/12 px-4">
                    <div
                      class="
                        relative
                        flex flex-col
                        min-w-0
                        break-words
                        w-full
                        mb-6
                        shadow-lg
                        rounded
                      "
                      [ngClass]="
                        color === 'light'
                          ? 'bg-white'
                          : 'bg-blueGray-200 text-black'
                      "
                    >
                      <div class="rounded-t mb-0 px-4 py-3 border-0">
                        <div class="flex flex-wrap items-center">
                          <div
                            class="
                              relative
                              w-full
                              px-4
                              max-w-full
                              flex-grow flex-1
                            "
                          >
                            <h3
                              class="font-semibold text-lg"
                              [ngClass]="
                                color === 'light'
                                  ? 'text-blueGray-700'
                                  : 'text-black'
                              "
                            >
                              Grupos
                            </h3>
                          </div>
                          <!--<div >
                          <label
                          class="block uppercase text-white-600 text-xs font-bold mb-2"
                          htmlFor="grid-password"
                        >
                          Seleccione la U.O
                        </label>
                        <ng-select [items]="offices"
                                   bindLabel="acronym"
                                   bindValue="acronym"
                                   placeholder="Selecciona U.O"
                                   (clic)="findAll()"
                                   [(ngModel)] = 'selectedOffice'
                                   (change)= 'findOne()'
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                        </div>-->
                        </div>
                      </div>

                      <div
                        class="block w-full overflow-x-auto"
                        style="position: relative; max-height: 400px"
                        [perfectScrollbar]="config"
                      >
                        <!-- Projects table -->

                        <table
                          class="
                            items-center
                            w-full
                            bg-transparent
                            border-collapse
                          "
                        >
                          <thead>
                            <tr>
                              <th
                                class="
                                  px-6
                                  align-middle
                                  border border-solid
                                  py-3
                                  text-xs
                                  uppercase
                                  border-l-0 border-r-0
                                  whitespace-nowrap
                                  font-semibold
                                  text-left
                                "
                                [ngClass]="
                                  color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
                                "
                              >
                                Grupo
                              </th>

                              <th
                                class="
                                  px-6
                                  align-middle
                                  border border-solid
                                  py-3
                                  text-xs
                                  uppercase
                                  border-l-0 border-r-0
                                  whitespace-nowrap
                                  font-semibold
                                  text-left
                                "
                                [ngClass]="
                                  color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
                                "
                              >
                                Acción
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let g of groups; let i = index">
                              <td
                                class="
                                  border-t-0
                                  px-6
                                  align-middle
                                  border-l-0 border-r-0
                                  text-xs
                                  whitespace-nowrap
                                  p-4
                                "
                              >
                                {{ g.name }}
                              </td>

                              <td
                                class="
                                  border-t-0
                                  px-6
                                  align-middle
                                  border-l-0 border-r-0
                                  text-xs
                                  whitespace-nowrap
                                  p-4
                                  text-left
                                "
                              >
                                <button
                                  (click)="groupToUpdate(i)"
                                  class="
                                    text-emerald-500
                                    background-transparent
                                    font-bold
                                    uppercase
                                    px-3
                                    py-1
                                    text-xs
                                    outline-none
                                    focus:outline-none
                                    mr-1
                                    mb-1
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  type="button"
                                >
                                  <i class="fas fa-edit"></i>
                                </button>
                                <button
                                  (click)="deleteGroup(i)"
                                  class="
                                    text-red-500
                                    background-transparent
                                    font-bold
                                    uppercase
                                    px-3
                                    py-1
                                    text-xs
                                    outline-none
                                    focus:outline-none
                                    mr-1
                                    mb-1
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  type="button"
                                >
                                  <i class="fas fa-trash-alt"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }">
                <div class="flex flex-wrap">
                  <div class="w-full lg:w-6/12 px-4">
                    <div
                      class="
                        relative
                        flex flex-col
                        min-w-0
                        break-words
                        w-full
                        mb-6
                        shadow-lg
                        rounded-lg
                        bg-blueGray-100
                        border-0
                      "
                    >
                      <div class="rounded-t bg-white mb-0 px-6 py-6">
                        <div class="text-center flex justify-between">
                          <h6 class="text-blueGray-700 text-xl font-bold">
                            {{ toUpdateStudent ? "Actualizar" : "Adicionar" }} Estudiante
                          </h6>
                          <button
                            (click)="
                              toUpdateStudent ? studentUpdated() : createStudent()
                            "
                            class="
                              bg-emerald-500
                              text-white
                              active:bg-emerald-500
                              font-bold
                              uppercase
                              text-xs
                              px-4
                              py-2
                              rounded
                              shadow
                              hover:shadow-md
                              outline-none
                              focus:outline-none
                              mr-1
                              ease-linear
                              transition-all
                              duration-150
                            "
                            type="button"
                          >
                            {{ toUpdateStudent ? "Actualizar" : "Adicionar" }}
                          </button>
                        </div>
                      </div>
                      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                        <form>
                          <h6
                            class="
                              text-blueGray-400 text-sm
                              mt-3
                              mb-6
                              font-bold
                              uppercase
                            "
                          >
                            Información
                          </h6>
                          <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <label
                                  class="
                                    block
                                    uppercase
                                    text-blueGray-600 text-xs
                                    font-bold
                                    mb-2
                                  "
                                  htmlFor="grid-password"
                                >
                                  Nombre
                                </label>
                                <input
                                  name="name"
                                  type="text"
                                  placeholder="Entre el No. de Contrato"
                                  class="
                                    border-0
                                    px-3
                                    py-3
                                    placeholder-blueGray-300
                                    text-blueGray-600
                                    bg-white
                                    rounded
                                    text-sm
                                    shadow
                                    focus:outline-none focus:ring
                                    w-full
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  value=""
                                  [(ngModel)] = "student.name"
                                />
                              </div>
                            </div>
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <label
                                  class="
                                    block
                                    uppercase
                                    text-blueGray-600 text-xs
                                    font-bold
                                    mb-2
                                  "
                                  htmlFor="grid-password"
                                >
                                  Edad
                                </label>
                                <input
                                  name="age"
                                  type="text"
                                  placeholder="Entre la edad"
                                  class="
                                    border-0
                                    px-3
                                    py-3
                                    placeholder-blueGray-300
                                    text-blueGray-600
                                    bg-white
                                    rounded
                                    text-sm
                                    shadow
                                    focus:outline-none focus:ring
                                    w-full
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  value=""
                                  [(ngModel)] = "student.age"
                                />
                              </div>
                            </div>
                            <div class="w-full lg:w-12/12 px-4">
                              <div class="relative w-full mb-3">
                                <label
                                  class="
                                    block
                                    uppercase
                                    text-blueGray-600 text-xs
                                    font-bold
                                    mb-2
                                  "
                                  htmlFor="grid-password"
                                >
                                  Grupo
                                </label>
                                <ng-select
                                  [items]="groups"
                                  bindLabel="name"
                                  bindValue="name"
                                  placeholder="Selecciona el Grupo"
                                  [ngModelOptions]="{ standalone: true }"
                                >
                                </ng-select>
                              </div>
                            </div>
                          </div>

                          <hr class="mt-6 border-b-1 border-blueGray-300" />

                        </form>
                      </div>
                    </div>
                  </div>

                  <!--List of fuel control-->
                  <div class="w-full lg:w-6/12 px-4">
                    <div
                      class="
                        relative
                        flex flex-col
                        min-w-0
                        break-words
                        w-full
                        mb-6
                        shadow-lg
                        rounded
                      "
                      [ngClass]="
                        color === 'light'
                          ? 'bg-white'
                          : 'bg-blueGray-200 text-black'
                      "
                    >
                      <div class="rounded-t mb-0 px-4 py-3 border-0">
                        <div class="flex flex-wrap items-center">
                          <div
                            class="
                              relative
                              w-full
                              px-4
                              max-w-full
                              flex-grow flex-1
                            "
                          >
                            <h3
                              class="font-semibold text-lg"
                              [ngClass]="
                                color === 'light'
                                  ? 'text-blueGray-700'
                                  : 'text-black'
                              "
                            >
                              Estudiantes
                            </h3>
                          </div>
                          <!--<div >
                          <label
                          class="block uppercase text-white-600 text-xs font-bold mb-2"
                          htmlFor="grid-password"
                        >
                          Seleccione la U.O
                        </label>
                        <ng-select [items]="offices"
                                   bindLabel="acronym"
                                   bindValue="acronym"
                                   placeholder="Selecciona U.O"
                                   (clic)="findAll()"
                                   [(ngModel)] = 'selectedOffice'
                                   (change)= 'findOne()'
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                        </div>-->
                        </div>
                      </div>

                      <div
                        class="block w-full overflow-x-auto"
                        style="position: relative; max-height: 400px"
                        [perfectScrollbar]="config"
                      >
                        <!-- Projects table -->

                        <table
                          class="
                            items-center
                            w-full
                            bg-transparent
                            border-collapse
                          "
                        >
                          <thead>
                            <tr>
                              <th
                                class="
                                  px-6
                                  align-middle
                                  border border-solid
                                  py-3
                                  text-xs
                                  uppercase
                                  border-l-0 border-r-0
                                  whitespace-nowrap
                                  font-semibold
                                  text-left
                                "
                                [ngClass]="
                                  color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
                                "
                              >
                                Nombre
                              </th>
                              <th
                                class="
                                  px-6
                                  align-middle
                                  border border-solid
                                  py-3
                                  text-xs
                                  uppercase
                                  border-l-0 border-r-0
                                  whitespace-nowrap
                                  font-semibold
                                  text-left
                                "
                                [ngClass]="
                                  color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
                                "
                              >
                                Edad
                              </th>

                              <th
                                class="
                                  px-6
                                  align-middle
                                  border border-solid
                                  py-3
                                  text-xs
                                  uppercase
                                  border-l-0 border-r-0
                                  whitespace-nowrap
                                  font-semibold
                                  text-left
                                "
                                [ngClass]="
                                  color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
                                "
                              >
                                Acción
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let c of students; let i = index">
                              <td
                                class="
                                  border-t-0
                                  px-6
                                  align-middle
                                  border-l-0 border-r-0
                                  text-xs
                                  whitespace-nowrap
                                  p-4
                                "
                              >
                                {{ c.name }}
                              </td>
                              <td
                                class="
                                  border-t-0
                                  px-6
                                  align-middle
                                  border-l-0 border-r-0
                                  text-xs
                                  whitespace-nowrap
                                  p-4
                                "
                              >
                                {{ c.age }}
                              </td>

                              <td
                                class="
                                  border-t-0
                                  px-6
                                  align-middle
                                  border-l-0 border-r-0
                                  text-xs
                                  whitespace-nowrap
                                  p-4
                                  text-left
                                "
                              >
                                <button
                                  (click)="studentToUpdate(i)"
                                  class="
                                    text-emerald-500
                                    background-transparent
                                    font-bold
                                    uppercase
                                    px-3
                                    py-1
                                    text-xs
                                    outline-none
                                    focus:outline-none
                                    mr-1
                                    mb-1
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  type="button"
                                >
                                  <i class="fas fa-edit"></i>
                                </button>
                                <button
                                  (click)="deleteStudent(i)"
                                  class="
                                    text-red-500
                                    background-transparent
                                    font-bold
                                    uppercase
                                    px-3
                                    py-1
                                    text-xs
                                    outline-none
                                    focus:outline-none
                                    mr-1
                                    mb-1
                                    ease-linear
                                    transition-all
                                    duration-150
                                  "
                                  type="button"
                                >
                                  <i class="fas fa-trash-alt"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
